<div class="main-wrapper d-flex">
    <app-sidenav></app-sidenav>
    <div class="middle-wrapper d-flex w-100 flex-column">
        <app-header></app-header>
        <div class="content-box-wrapper d-flex w-100">
            <div class="middle-content d-flex">
                <div class="page-content-wrapper dashboard">
                    <div class="w-100 inbox-container px-3">
                        <div class="filter-container candidate-left-filter-opt">
                        <div class="row">
                        <div class="col-md-7">
                        <ul class="nav nav-tabs tasktabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">To-Do
                        <span class="badge bg-white rounded-pill darkblue border">10</span>
                        </button>
                        </li>
                        <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false" tabindex="-1">Done
                        <span class="badge bg-white rounded-pill darkblue border">10</span>
                        </button>
                        </li>
                        </ul>
                        </div>
                        <div class="col-md-5">
                        <div class="filters-opt">
                        <div class="dropdown w-auto">
                        <div class="dropdown bg-white border rounded">
                        <button class="btn dropdown-toggle w-100 text-start" type="button" id="sorting1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-regular fa-arrow-down-short-wide"></i> My Tasks
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="sorting1">
                        <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                        My Tasks
                        </a>
                        </li>
                        <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                        Everyone's tasks
                        </a>
                        </li>
                        <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                        Task without assignees
                        </a>
                        </li>
                        <li class="saltBg p-2 charcoal">
                        <strong> People</strong>
                        </li>
                        <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                        <span class="iconButton small me-2">
                        <img src="https://enteract.live/hire/images/avatar-3.png" class="rounded-circle img-fluid" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Taimoor Kasi " alt="">
                        </span>
                        Taimoor Kasi
                        </a>
                        </li>
                        <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                        <span class="iconButton small me-2">
                        <img src="https://enteract.live/hire/images/avatar-2.png" class="rounded-circle img-fluid" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title=" Tahir Ahmed " alt="">
                        </span>
                        Tahir Ahmed
                        </a>
                        </li>
                        </ul>
                        </div>
                        </div>
                        <div class="iconholder ms-2">
                        <i class="fa-light fa-calendar-plus iconleft"></i>
                        <input name="" id="datepicker" class="form-control flatpickr-input" placeholder="Due date" type="text" readonly="readonly">
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="query-container perfect-scrollbar" data-scrollbar="true" tabindex="-1" style="overflow: hidden; outline: none;"><div class="scroll-content">
                        <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                        <div class="list-group-section mt-3 pe-3 mb-3">
                        <div class="taskinput mb-3 iconholder d-none">
                        <i class="fa-light fa-clipboard-check iconleft"></i>
                        <input class="form-control bg-white border-0" placeholder="Add a task">
                        </div>
                        <div class="pb-3" id="taskreply">
                        <form action="">
                        <div class="taskinput iconholder d-none">
                        <i class="fa-light fa-clipboard-check iconleft"></i>
                        <input class="form-control bg-white border-0 rounded-0" placeholder="Add a task">
                        </div>
                        <div class="p-3 row mx-0 align-items-center bg-white mb-3 rounded">
                        <div class="col-8 ps-0">
                        <div class="d-flex align-items-center me-3">
                        <div class="iconholder border-end">
                        <i class="fa-light fa-calendar-plus iconleft"></i>
                        <input name="" id="datepicker" class="form-control border-0 rounded-0 flatpickr-input" placeholder="Set due date" type="text" readonly="readonly">
                        </div>
                        <div class="iconholder border-end">
                        <i class="fa-light fa-bell iconleft"></i>
                        <input name="" id="datepicker" class="form-control border-0 rounded-0 flatpickr-input" placeholder="Set Reminder" type="text" readonly="readonly">
                        </div>
                        <div class="iconholder border-end">
                        <i class="fa-light fa-repeat iconleft"></i>
                        <input name="" id="datepicker" class="form-control border-0 rounded-0 flatpickr-input" placeholder="Set Repeat" type="text" readonly="readonly">
                        </div>
                        </div>
                        </div>
                        <div class="col-2 p-0 text-center">
                        <ul class="userlist list d-flex align-items-center">
                        <li>
                        <span class="iconButton small">
                        <img src="https://enteract.live/hire/images/avatar-3.png" class="rounded-circle img-fluid" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Taimoor Kasi " alt="">
                        </span>
                        </li>
                        <li>
                        <span class="iconButton small add-circle" data-bs-toggle="modal" data-bs-target="#addteammember"><i class="fa-regular fa-plus"></i> </span>
                        </li>
                        </ul>
                        </div>
                        <div class="col-2 text-end p-0">
                        <button class="btn btn-light me-2">Cancel</button>
                        <button class="btn btn-link">Add </button>
                        </div>
                        </div>
                        </form>
                        </div>
                        <div class="pe-2 viewdetail w-100 mb-3">
                        <div class="form-check mb-1 border-bottom pb-2 theme-check">
                        <input class="form-check-input" type="checkbox" id="task1">
                        <label class="form-check-label d-block w-100 fw-semibold" for="task1">submit daily report to ahmed ali khan</label>
                        </div>
                        <div class="row align-items-center w-100 me-0">
                        <div class="col-6">
                        <ul class="list-inline mb-0">
                        <li class="list-inline-item d-inline-flex align-items-center">
                        <span class="iconButton medium iconHover"><i class="fa-light fa-calendar-plus"></i></span> <span>Tomorrow</span>
                        </li>
                        <li class="list-inline-item d-inline-flex align-items-center">
                        <span class="iconButton medium iconHover"><i class="fa-light fa-bell"></i></span> <span>21:00, Today</span>
                        </li>
                        <li class="list-inline-item d-inline-flex align-items-center">
                        <span class="iconButton medium iconHover"><i class="fa-light fa-repeat"></i></span> <span>Weekly, Thursday</span>
                        </li>
                        </ul>
                        </div>
                        <div class="col">
                        <ul class="userlist d-flex align-items-center list">
                        <li>
                        <span class="iconButton cherryTransBg small" data-bs-placement="top" data-bs-title="Tahir Ahmed">
                        TA
                        </span>
                        </li>
                        <li>
                        <span class="iconButton small ms-3 bg-white" data-bs-toggle="modal" data-bs-target="#addteammember" data-bs-placement="right" data-bs-title=" Add New"><i class="fa-regular fa-plus"></i> </span>
                        </li>
                        </ul>
                        </div>
                        <div class="col-2 ms-auto text-end pe-0">
                        <span class="coal ms-auto">21 mins ago</span>
                        </div>
                        </div>
                        </div>
                        <div class="pe-2 viewdetail w-100 mb-3">
                        <div class="form-check mb-1 border-bottom pb-2 theme-check">
                        <input class="form-check-input" type="checkbox" id="task2">
                        <label class="form-check-label d-block w-100 fw-semibold" for="task2">submit daily report to ahmed ali khan</label>
                        </div>
                        <div class="row align-items-center w-100 me-0">
                        <div class="col-6">
                        <ul class="list-inline mb-0">
                        <li class="list-inline-item d-inline-flex align-items-center">
                        <span class="iconButton medium iconHover"><i class="fa-light fa-calendar-plus"></i></span> <span>Tomorrow</span>
                        </li>
                        <li class="list-inline-item d-inline-flex align-items-center">
                        <span class="iconButton medium iconHover"><i class="fa-light fa-bell"></i></span> <span>21:00, Today</span>
                        </li>
                        <li class="list-inline-item d-inline-flex align-items-center">
                        <span class="iconButton medium iconHover"><i class="fa-light fa-repeat"></i></span> <span>Weekly, Thursday</span>
                        </li>
                        </ul>
                        </div>
                        <div class="col">
                        <ul class="userlist d-flex align-items-center list">
                        <li>
                        <span class="iconButton cherryTransBg small" data-bs-placement="top" data-bs-title="Tahir Ahmed">
                        TA
                        </span>
                        </li>
                        <li>
                        <span class="iconButton small ms-3 bg-white" data-bs-toggle="modal" data-bs-target="#addteammember" data-bs-placement="right" data-bs-title=" Add New"><i class="fa-regular fa-plus"></i> </span>
                        </li>
                        </ul>
                        </div>
                        <div class="col-2 ms-auto text-end pe-0">
                        <span class="coal ms-auto">21 mins ago</span>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">...
                        </div>
                        </div>
                        </div><div class="scrollbar-track scrollbar-track-x" style="display: block;"><div class="scrollbar-thumb scrollbar-thumb-x" style="width: 290.263px; transform: translate3d(0px, 0px, 0px);"></div></div><div class="scrollbar-track scrollbar-track-y" style="display: block;"><div class="scrollbar-thumb scrollbar-thumb-y" style="height: 401.938px; transform: translate3d(0px, 0px, 0px);"></div></div></div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
