<div class="main-wrapper d-flex">
    <app-sidenav></app-sidenav>
    <div class="middle-wrapper d-flex w-100 flex-column">
        <app-header></app-header>
        <div class="content-box-wrapper d-flex w-100">
            <div class="middle-content d-flex">
                <div class="page-content-wrapper dashboard">
                    <div class="content-box-wrapper d-flex w-100">
                        <div class="middle-content d-flex">
                            <div class="console-landing-page console-body-wrapper" data-scrollbar="true" tabindex="-1"
                                style="overflow: hidden; outline: none;">
                                <div class="scroll-content" style="transform: translate3d(0px, 0px, 0px);">
                                    <div class="p-4">
                                        <div class="landing-page-header">
                                            <div class="row justify-content-between">
                                                <div class="col-lg-6">
                                                    <h4 class="radical heading">Apply now and start your journey with
                                                        us!</h4>
                                                    <p class="text">Welcome to our hiring portal, where you can discover
                                                        exciting job opportunities at our company.Browse our current job
                                                        openings and find the perfect role that matches your skills and
                                                        interests.</p>
                                                </div>
                                                <div class="col-lg-3">
                                                    <img src="https://enteract.live/hire/images/console-landing.svg" alt="-" height="140">
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="darkblue heading">Welcome, Syed Salman Khan!</h4>
                                        <div class="row console-landing-shortcuts">
                                            <div class="col-lg-4 h-100">
                                                <ul class="full_dropdown p-0 text-small user-profile-dropdown shadow h-100"
                                                    aria-labelledby="dropdownUser1">
                                                    <li class="user-dropdown-header dropdown-header">
                                                        <ul>
                                                            <li>
                                                                <a href="#" class="link-dark text-decoration-none"
                                                                    id="dropdownUser1" data-bs-toggle="dropdown"
                                                                    aria-expanded="false">
                                                                    <img src="https://github.com/mdo.png"
                                                                        class="profile-pic rounded-circle" alt="mdo"
                                                                        width="50" height="50">
                                                                    <span class="online-n-offline on-off-btn"></span>
                                                                    <div class="name-n-info lh-sm">
                                                                        <h6 class="night m-0 text">Syed Salman Khan</h6>
                                                                        <small>@salmankhan</small>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <button class="iconButton medium iconHover">
                                                            <i class="fal fa-cog"></i>
                                                        </button>
                                                    </li>
                                                    <li class="user-dropdown-body dropdown-body">
                                                        <ul>
                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="form-check theme-check w-100 p-0">
                                                                        <input class="form-check-input float-end"
                                                                            type="radio" name="userScheduleCheck"
                                                                            id="userScheduleCheck2" checked="">
                                                                        <label
                                                                            class="form-check-label d-flex align-items-center"
                                                                            for="userScheduleCheck2">
                                                                            <span
                                                                                class="btn iconButton iconHover medium radicalBg me-1 mt-2">
                                                                                <i class="fal fa-bell-slash"></i>
                                                                            </span>
                                                                            <div class="ms-2 me-auto coal lh-1">
                                                                                <h6 class="night mb-0 text">Out of
                                                                                    office</h6>
                                                                                <small class="small-text">Mute
                                                                                    notifications and unassign new
                                                                                    messages</small>
                                                                            </div>
                                                                        </label>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="form-check theme-check w-100 p-0">
                                                                        <input class="form-check-input float-end"
                                                                            type="radio" name="userScheduleCheck"
                                                                            id="userScheduleCheck3">
                                                                        <label
                                                                            class="form-check-label d-flex align-items-center"
                                                                            for="userScheduleCheck3">
                                                                            <span
                                                                                class="btn iconButton iconHover medium mangoTransBg me-1 mt-1">
                                                                                <i class="fal fa-moon"></i>
                                                                            </span>
                                                                            <div class="ms-2 me-auto coal lh-1">
                                                                                <h6 class="night mb-0 text">Do not
                                                                                    disturb</h6>
                                                                                <small class="small-text">Mute
                                                                                    notifications</small>
                                                                            </div>
                                                                        </label>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-8 h-100 row">
                                                <div class="col-lg-6 row flex-column justify-content-between">
                                                    <div class="col-lg-12 shortcut-box">
                                                        <div class="card-body h-100 p-3 shadow d-flex iceBg">
                                                            <button class="iconButton medium">
                                                                <i class="far fa-inbox"></i>
                                                            </button>
                                                            <div class="ms-3">
                                                                <h5 class="night mb-0 mt-0 lh-base text fw-bold">Jobs
                                                                </h5>
                                                                <p class="coal lh-base small-text">That is to have a
                                                                    pre-screened group of jobs ready for future hiring
                                                                    needs.</p>
                                                                <div class="d-flex">
                                                                    <a href="#" type="button"
                                                                        class="btn btn-outline-success btn-text">
                                                                        Edit Inbox
                                                                    </a>
                                                                    <a href="#" type="button"
                                                                        class="btn btn-outline-success ms-2 btn-text">
                                                                        <i class="fal fa-plus me-2"></i>
                                                                        Add a rule
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 shortcut-box">
                                                        <div class="card-body h-100 p-3 shadow d-flex iceBg">
                                                            <button class="iconButton medium">
                                                                <i class="far fa-tree-palm"></i>
                                                            </button>
                                                            <div class="ms-3">
                                                                <h5 class="night mb-0 mt-0 lh-base text fw-bold">
                                                                    Candidates</h5>
                                                                <p class="coal lh-base small-text">Discover your next
                                                                    career opportunity with us.</p>
                                                                <div>
                                                                    <a href="#" type="button"
                                                                        class="btn btn-outline-success btn-text">
                                                                        <i class="fal fa-plus me-2"></i>
                                                                        Add a Responder
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 row flex-column justify-content-between">
                                                    <div class="col-lg-12 shortcut-box">
                                                        <div class="card-body h-100 p-3 shadow d-flex iceBg">
                                                            <button class="iconButton medium">
                                                                <i class="far fa-tachometer-fastest"></i>
                                                            </button>
                                                            <div class="ms-3">
                                                                <h5 class="night mb-0 mt-0 lh-base text fw-bold">Manage
                                                                    Users</h5>
                                                                <p class="coal lh-base small-text">Manage your users
                                                                    easily.</p>
                                                                <div>
                                                                    <a href="#" type="button"
                                                                        class="btn btn-outline-success btn-text">
                                                                        <i class="fal fa-plus me-2"></i>
                                                                        Manage
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 shortcut-box">
                                                        <div class="card-body h-100 p-3 shadow d-flex iceBg">
                                                            <button class="iconButton medium">
                                                                <i class="far fa-leaf"></i>
                                                            </button>
                                                            <div class="ms-3">
                                                                <h5 class="night mb-0 mt-0 lh-base text fw-bold">Manage
                                                                    Perks</h5>
                                                                <p class="coal lh-base small-text">Create your perks
                                                                    easily.</p>
                                                                <div>
                                                                    <a href="#" type="button"
                                                                        class="btn btn-outline-success btn-text">
                                                                        <i class="fal fa-plus me-2"></i>
                                                                        Add Perks
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="heading darkblue mt-5 mb-3">Get the most out of interact</h4>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="h-100 d-flex">
                                                    <button class="iconButton medium skyBg">
                                                        <i class="far fa-tag"></i>
                                                    </button>
                                                    <div class="ms-3">
                                                        <h5 class="night mb-0 mt-0 lh-base text fw-bold">Organize your
                                                            work with tags</h5>
                                                        <p class="coal lh-base small-text">Private tags replace personal
                                                            folders. Pin tags to your
                                                            workspace to easily find what you need.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="h-100 d-flex">
                                                    <button class="iconButton medium darkblueBg">
                                                        <i class="far fa-cog"></i>
                                                    </button>
                                                    <div class="ms-3">
                                                        <h5 class="night mb-0 mt-0 lh-base text fw-bold">Improve your
                                                            productivity in Front</h5>
                                                        <p class="coal lh-base small-text">Snooze messages, control your
                                                            notifications, and make
                                                            your work day work for you.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="h-100 d-flex">
                                                    <button class="iconButton medium cherryBg">
                                                        <i class="far fa-file"></i>
                                                    </button>
                                                    <div class="ms-3">
                                                        <h5 class="night mb-0 mt-0 lh-base text fw-bold">Resume and
                                                            Cover letter</h5>
                                                        <p class="coal lh-base small-text">Apply online by submitting
                                                            your resume and cover letter</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="scrollbar-track scrollbar-track-x" style="display: none;">
                                    <div class="scrollbar-thumb scrollbar-thumb-x"
                                        style="width: 397px; transform: translate3d(0px, 0px, 0px);"></div>
                                </div>
                                <div class="scrollbar-track scrollbar-track-y" style="display: block;">
                                    <div class="scrollbar-thumb scrollbar-thumb-y"
                                        style="height: 285.949px; transform: translate3d(0px, 0px, 0px);"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>