<div id="leftBarWrapper">
    <div class="logo"> 
        <a href="#">
            <p class="logoText logolg">
                <img src="https://enteract.live/hire/images/enteract-full-logo.svg" alt="...">
            </p>
            <p class="logoText logosm">
                <img src="https://enteract.live/hire/images/enteract-logo.svg" alt="...">
            </p>
        </a>
    </div>
    <ul class="list-group agent_nav_bar" id="agent-list">
        <a routerLink="/" routerLinkActive="active" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center bg-transparent border-0 pt-0 pb-0 ps-2">
            <div class="list-group-text d-flex align-items-center">
                <div class="iconButton medium">
                    <i class="fal fa-tachometer-alt-fast ice"></i>
                </div>
                <div class="itemLabel">
                    Dashboard
                </div>
            </div>
        </a>
        <a routerLink="/jobs" routerLinkActive="active"
        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center bg-transparent border-0 pt-0 pb-0 ps-2">
        <div class="list-group-text d-flex align-items-center">
            <div class="iconButton medium">
                <i class="fa-light fa-briefcase ice"></i>
            </div>
            <div class="itemLabel">
                Jobs
            </div>
        </div>
        <span class="badge rounded-pill bg-light text-dark">58</span>
    </a>
    <a routerLink="/candidates" routerLinkActive="active"
        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center bg-transparent border-0 pt-0 pb-0 ps-2">
        <div class="list-group-text d-flex align-items-center">
            <div class="iconButton medium">
                <i class="fa-light fa-file-lines ice"></i>
            </div>
            <div class="itemLabel">
                Candidates
            </div>
        </div>
        <span class="badge rounded-pill bg-light text-dark">12</span>
    </a>
    <a routerLink="/talent" routerLinkActive="active"
        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center bg-transparent border-0 pt-0 pb-0 ps-2">
        <div class="list-group-text d-flex align-items-center">
            <div class="iconButton medium">
                <i class="fa-light fa-users ice"></i>
            </div>
            <div class="itemLabel">
                Talent Pool
            </div>
        </div>
        <span class="badge rounded-pill bg-light text-dark">14</span>
    </a>
    <a routerLink="/assessment" routerLinkActive="active"
        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center bg-transparent border-0 pt-0 pb-0 ps-2">
        <div class="list-group-text d-flex align-items-center">
            <div class="iconButton medium">
                <i class="fa-light fa-seal-question ice"></i>
            </div>
            <div class="itemLabel">
                Assessments
            </div>
        </div>
    </a>
    <div class="leftBarDivider"></div>
    <a routerLink="/analytics" routerLinkActive="active"
        class="list-group-item d-flex justify-content-between align-items-center bg-transparent border-0 pt-0 pb-0 ps-2">
        <div class="list-group-text d-flex align-items-center">
            <div class="iconButton medium">
                <i class="fa-light fa-chart-line-up ice"></i>
            </div>
            <div class="itemLabel">
                Analytics
            </div>
        </div>
    </a>
    <a routerLink="/console" routerLinkActive="active"
        class="list-group-item d-flex justify-content-between align-items-center bg-transparent border-0 pt-0 pb-0 ps-2">
        <div class="list-group-text d-flex align-items-center">
            <div class="iconButton medium">
                <i class="fal fa-cog ice"></i>
            </div>
            <div class="itemLabel">
                Console
            </div>
        </div>
    </a>
    </ul>
</div>
<nav id="left-sidebar-expand" [class.panel-open]="isPanelOpen">
    <div class="leftbar-console-expanded">
        <div class="sidebar-header pe-3 ps-3">
            <h5 class="fw-bold mt-3 ms-1">
                <a href="/">Dashboard</a>
            </h5>
        </div>
        <ul class="list-group console-list mt-2" data-scrollbar="true" tabindex="-1" style="overflow: hidden; outline: none;">
            <div class="scroll-content">
                <li class="active list-group-item list-group-item-action" value="Summary">
                    <a routerLink="/dashboard/summary" routerLinkActive="active" class="d-flex">
                        Summary
                    </a>
                </li>
                <li class="list-group-item list-group-item-action" value="Calendar">
                    <a routerLink="/dashboard/calander" routerLinkActive="active" class="d-flex">
                        Calendar
                    </a>
                </li>
                <li class="active list-group-item list-group-item-action" value="Summary">
                    <a routerLink="/dashboard/interview" routerLinkActive="active" class="d-flex">
                        Interview
                    </a>
                </li>
                <li class="list-group-item list-group-item-action" value="Assessment">
                    <a routerLink="/dashboard/assessment" routerLinkActive="active" class="d-flex">
                        Assessment
                    </a>
                </li>
                <li class="list-group-item list-group-item-action" value="Tasks">
                    <a routerLink="/dashboard/task" routerLinkActive="active" class="d-flex">
                        Tasks
                    </a>
                </li>
                <li class="list-group-item list-group-item-action" value="Activities">
                    <a routerLink="/dashboard/activities" routerLinkActive="active" class="d-flex">
                        Activities
                    </a>
                </li>
            </div>
            <div class="scrollbar-track scrollbar-track-x" style="display: none;">
                <div class="scrollbar-thumb scrollbar-thumb-x"
                    style="width: 293px; transform: translate3d(0px, 0px, 0px);"></div>
            </div>
            <div class="scrollbar-track scrollbar-track-y" style="display: none;">
                <div class="scrollbar-thumb scrollbar-thumb-y"
                    style="height: 356px; transform: translate3d(0px, 0px, 0px);"></div>
        
            </div>
        </ul>
    </div>
    <button type="button" class="panelToggle" (click)="togglePanel()"></button>

</nav>
